@model asp8.ViewModels.Bag


<P>VIEW PRINCIPAL </P>
<hr />
<!--Como Bag recebeu os valores do atributo podemos carregar todos os atributos de cada objeto-->
<h1>Cliente</h1>
<p>Nome: @Model.humano.nome @Model.humano.sobrenome </p>

<p>Idade: @Model.humano.idade </p>

<hr />   

<h1>Carro</h1>
<p>Marca: @Model.automovel.marca </p>
<p>Ano: @Model.automovel.ano </p>
<p>Cor: @Model.automovel.cor </p>


